<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Nodejs crash course </title>
</head>
<body>

    ////------This is an entirely different examples------/////// 
    <h1>About</h1>
    <h2>your path to becoming a back-end developer</h2>
    
    //This function pass in a function onto the ejs (html) folder thereby making it a dynamic html from a static file//

    <ul>
        <% for(let item of items){ %>                       
            <li> <%= item %> </li>              
        <% } %>
        
    </ul>
</body>
</html> 